body{
  background:rgb(177, 92, 177);
}
.App {
  text-align: center;
}
header{
  margin-top:0px;
  background:purple
}
input {
  max-height:20px;
  margin: 25px 0 0 0;
}

.wiz-input {
  display: flex;
  justify-content: space-around;

}