
body{
  background:rgb(177, 92, 177);
}
.App {
  text-align: center;
}
header{
  margin: 0 auto;
  padding:0;
  height:100%;
  background:purple;
  position: relative;
}
header > h1 {
  margin-top:0;
  padding-top:15px;
}
input {
  max-height:20px;
  margin: 2px 0 0 0;
}
img{
  max-width:200px;
  max-height:200px;
}
button{
  padding:10px;
  margin-right:10px;
}
.dashboard{
  display:flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
}

.dashboard > button{
  max-height:40px;
  margin-top:20px;
}
.wiz-input {
  display: flex;
  align-content: center;
  flex-direction: column;
  
}
.wiz-input > input {
  max-width: 400px;
  margin-bottom:15px;
}

.page-content{
  background-color: rgb(220, 171, 220);
  margin: 0 20% 0 20%;
  padding: 0 2% 0 2%;
}
.wizard-page{
  background-color: rgb(220, 171, 220);
  margin: 0 20% 0 20%;
  min-height:800px;
  padding: 1% 15% 1% 15%;
}
.house-list{
  display:flex;
  justify-content: center;
  flex-direction:column;
}
.house-tile{
  background-color: lightgrey;
  display:flex;
  justify-content: space-around;
  margin:15px 0 15px 0;
  padding:15px;
}
.house-info{
  padding:0 10px 0 10px;
}
